<div fxLayout="row">
<h1>PRODUCT LIST</h1>
       <mat-card *ngFor="let product of products">

          <mat-card-title>{{ product.payload.doc.data().productName }} </mat-card-title>


            <mat-card-content>
               <p>{{product.payload.doc.data().productPrice}}</p>
               <p>{{product.payload.doc.id}}</p>
               
            <mat-checkbox [checked]="product.payload.doc.data().isStack" >Stack</mat-checkbox><br><br>

            <button class="btn btn-outline-info" (click)="productService.getProductByID(product.payload.doc.id)">Edit</button>


            
            <button class="btn btn-outline-danger" (click)="productService.deleteProduct(product)" >Delete</button>

           </mat-card-content> 
           
       </mat-card> 
    

</div>
